@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/monokai.css";
@import "codemirror/addon/hint/show-hint.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  min-width: 60rem;
}

.editor__actions {
  height: 3rem;
}

.editor > .CodeMirror {
  height: calc(100% - 3rem);
}

.editor > .CodeMirror *:focus-visible {
  outline: none;
}
