@import "codemirror/lib/codemirror.css";
@import "codemirror/addon/hint/show-hint.css";

body {
  min-width: 960px;
}

.font-monospace {
  font-family: monospace;
}

.editor__actions {
  height: 3rem;
}

.editor > .CodeMirror {
  height: calc(100% - 3rem);
}
